<p id="notice"><%= notice %></p>

<h1><%= @thing.name %>(<%= @thing.thing_type.name %>)</h1>

<p>
  <strong>Age:</strong>
  <%= @thing.age %>
</p>

<p>
  <strong>Owner:</strong>
  <% if not @thing.user.nil? %>
  <%= @thing.user.name or @thing.user.email %>
  <% else %>
      NIL
  <% end %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @thing.uuid %>
</p>

<p>
  <strong>Ismissing:</strong>
  <%= @thing.isMissing %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @thing.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @thing.longitude %>
</p>

<p>
  <strong>Precision:</strong>
  <%= @thing.precision %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', user_show_path %>
