<div class="row">
  <div class="large-3 columns">
    <h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
      <li><%= link_to 'View Map', pet_map_path, class: "button" %></li>
      <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "button" %></li>
    </ul>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-4 columns">
    <p>
      <strong>User Name:</strong> <%= @user.name %> </br >
      <strong>Email:</strong> <%= @user.email %> </br >
      <strong>Phone Number:</strong> <%= @user.phone_number %>
    </p>
  </div>
</div> 

<div class="row">

  <div class="large-4 columns">
    <img src="http://placehold.it/400x300&text=[img]" />
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing
      rump corned beef.</p>
  </div>

  <div class="large-4 columns">
    <!-- <%= render file: 'things/new' %> -->
    <%= render partial: 'shared/form' %>
  </div>

</div>

<div class="row">
  <div class="large-12 columns">

    <div class="panel">
      <h4>Get in touch!</h4>

      <div class="row">
        <div class="large-9 columns">
          <p>We'd love to hear from you, you attractive person you.</p>
        </div>
        <div class="large-3 columns">
          <a href="#" class="radius button right">Contact Us</a>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/ >
    <div class="row">
      <div class="large-6 columns">
        <p>© People of Akos.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">About</a>
          </li>
          <li><a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<!-- Get thing types -->
<% things = {} %>
<% all_things = ThingType.all.to_a %>
<% if @user.things.nil? %>
  <% @user.things.each do |t| %>
    <% things[:t] = 1 %>
  <% end %>
<% end %>

<% all_things.each do |t| %>
  <!-- Add thing info! -->
  <strong><%= t.name.pluralize(2) %></strong>
  <ul>
    <% if things[:t] == 1 %>
      <% if @user.things.count == 0 %>
        <%@user.things.each do |thing| %>
          <% if things[:thing.thing_type] == 1 then %> 
            <li><%= thing.name %> </li>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <li><%= link_to "Register a #{t.name.singularize()}!", new_thing_path(@user.id, t.id) %></li>
    <% end %>
  </ul>
<% end %>
