<p id="notice"><%= notice %></p>

<% if not @user.name.nil? %>
<p>
<strong>Name:</strong>
<%= @user.name %>
</p>
<% end %>

<p>
<strong>Email:</strong>
<%= @user.email %>
</p>

<p>
<strong>Phone Number:</strong>
<%= @user.phone_number %>
</p>

<!-- Get thing types -->
<% things = {} %>
<% all_things = ThingType.all.to_a %>
<% if @user.things.nil? %>
<% @user.things.each do |t| %>
    <% things[:t] = 1 %>
<% end %>
<% end %>

<% all_things.each do |t| %>
    <!-- Add thing info! -->
    <strong><%= t.name.pluralize(2) %></strong>
    <ul>

        <% if things[:t] == 1 %>
            <% if @user.things.count == 0 %>
                <%@user.things.each do |thing| %>
                    <% if things[:thing.thing_type] == 1 then %> 
                        <li><%= thing.name %> </li>
                    <% end %>
                <% end %>
            <% end %>
        <% else %>
            <li><%= link_to "Register a #{t.name.singularize()}!", new_thing_path(@user.id, t.id) %></li>
        <% end %>
    </ul>
<% end %>

<%= link_to 'View Map', pet_map_path %> |
<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Destroy', user_registration_path, :confirm => 'Are you sure you want to destroy your account?', :method => :delete %> |
<%= link_to 'Back', '/' %>
