<div class="row">
  <div class="large-4 columns">
    <p>
      <strong>User Name:</strong> <%= @user.name %> </br >
      <strong>Email:</strong> <%= @user.email %> </br >
      <strong>Phone Number:</strong> <%= @user.phone_number %>
    </p>
  </div>
  <div class="large-4 columns">
      <a href="#" data-reveal-id="newThing" class="radius button" >Register New Pet</a>
  <div id="newThing" class="reveal-modal small" data-reveal>
      <a class="close-reveal-modal">x</a>
      <h1>Tell Us About Your Pet!</h1>
    <%= render partial: 'shared/form' %>
  </div>

  </div>
</div> 

<div class="row">

      <% @user.things.each do |thing| %>
          <div class="large-4 columns">
              <% if thing.avatar.nil? %>
                  <%= image_tag thing.thing_type.avatar.url(:preview) %>
              <% else %>
                  <%= image_tag thing.avatar.url(:preview) %>
              <% end %>
              <h4><%= thing.name %> (<%= thing.thing_type.name %>)</h4>
              <% if thing.description.nil? or thing.description == "" %>
                  <p><em><%= "No Description" %></em></p>
              <% else %>
                  <p><%= thing.description %></p>
              <% end %>
              <%= link_to 'Report Missing', '#', :class => "button alert" %>
          </div>
          <!-- Add Report Missing Button -->
      <% end %>
<!-- Get thing types -->
<!--<% things = {} %>
<% all_things = ThingType.all.to_a %>
<% if @user.things.nil? %>
  <% @user.things.each do |t| %>
    <% things[:t] = 1 %>
  <% end %>
<% end %>

<% all_things.each do |t| %>-->
  <!-- Add thing info! -->
  <!--<strong><%= t.name.pluralize(2) %></strong>-->
    <!--<% if things[:t] == 1 %>
      <% if @user.things.count == 0 %>
        <%@user.things.each do |thing| %>
          <% if things[:thing.thing_type] == 1 then %> 
            <img src="http://placehold.it/400x300&text=[img]" />
            <h4><%= thing.name %></h4>
            <p><%= thing.description %></p>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
    <% end %>
<% end %>-->

</div>
