<!DOCTYPE html>
<html>
<head>
  <title>LostAndFound</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="row">
    <style type="text/css" media="screen">
      h1.logo {
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 5em;
          margin: 0px;
      }
        
    </style>
  <div class="large-3 columns">
      <h1 class="logo">GOTCHA!</h1>
  </div>
  <div class="large-9 columns">
    <ul class="right button-group">
        <% if not user_signed_in? %>
            <li><a href="<%=new_user_session_path%>" class="button">Login</a></li>
            <li><a href="<%=new_user_registration_path%>" class="button">Sign Up</a></li>
        <% else %>
            <li><a href="/" class="button">Home</a></li>
            <!--<li><%= link_to 'View Map', pet_map_path, class: "button" %></li>-->
            <% if request.env['PATH_INFO'] == user_show_path %>
                <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "button" %></li>
            <% else %>
                <li><%= link_to 'View Profile', user_show_path, class: "button" %></li>
            <% end %>
            <li><%=link_to('Sign out', destroy_user_session_path, :method => :delete, :class => "button")%></li>
        <% end %>
    </ul>
  </div>
</div>

<!-- <p id="notice"><%= notice %></p>-->



<%= yield %>

</body>

<footer class="row">
  <div class="large-12 columns">
    <hr/ >
    <div class="row">
      <div class="large-6 columns">
        <p>© Gotcha! 2014</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>
